
 <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<h1>Error</h1>
<h1 class="text-center">Incompatible File Format</h1>
<p class="text-center">Recheck the file format and Upload a file size less than 32 mb.</p>
