
    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Us</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>We are a geeks.... .</p>
                </div>
                <div class="col-lg-4">
                    <p>Whether you're a student or gamer or developer looking to scan your files, as can use our MrVirus which detect virus,malware abd trojans!</p>
                </div>
                           </div>
        </div>
    </section>
